<div class="col-md-3 mt20">
    <a href="https://discord.gg/FEveQ8k">
        <div class="post-img">
            <img width="600" src="{{site.baseurl}}/images/discord.png" alt="Discord">
        </div>
    </a>
        {% if site.fb-like-box %}
        <div class="mt10">
            <div class="fb-page" data-href="https://www.facebook.com/concordiagamedev" data-width="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/webjeda/" class="fb-xfbml-parse-ignore"><a href="{{site.fb-page-url}}">{{site.fb-page-title}}</a></blockquote></div>
        </div>
        {% endif %}
        <br>

</div>