<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    

{% seo %}
  </head>

  <body>

    <div class="picture">
        
      <div> 
          <img src="images/Rose_Dufresne_img.jpg" alt="Rose Dufresne" width="300" height="300" style="border-radius: 300px;">
      </div>

      <div>
          <div class="name"> Rose Dufresne </div>
              <div class="groupOf4">
                  <div class="cv"><a href="data/CV-english.pdf"> CV </a></div>
                  <div class="home"><a href="home.html"> Home </a></div>
                  <div class="projs"><a href="projects.html"> Projects </a></div>
                  <div class="github"><a href="https://github.com/RoseDuf">GitHub</a></div>
              </div>
      </div>
  </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    
  </body>
</html>