---
layout: default
---
<head> 
    <script src="jquery.js"></script> 
    <script> 
    $(function () {
        var includes = $('[data-include]')
        $.each(includes, function () {
            var file = '_layouts/' + $(this).data('include') + '.html'
            $(this).load(file)
        })
    })
    </script> 
</head> 

<body>

    <div class="education">

        <div class="edu-grid">
        <h3> Education </h3>
        <div class="edu-color">
            <div class="edu">
                <div>
                    Concordia University, Montreal, QC
                </div>
                <div class="date">
                    (from 2016 to 2020)
                </div>
            </div>

            <div>
                <p class="title">
                    <p>GPA: 3.2</p>
                </p>
            </div>

            <div>
                <p class="subject-title">
                    <u>Computer Applications Major (BCompS)</u>
                </p>
                <p>
                    Relevant courses I have taken:
                </p>
                <ul>
                    <li>Object-Oriented Programming I, II - COMP 248, COMP 249</li>
                    <li>Data Structures and Algorithms - COMP 352</li>
                    <li>Web Programming - SOEN 287</li>
                    <li>Introduction to Software Engineering - COMP 354</li>
                    <li>Introduction to Theoretical Computer Science - COMP 335</li>
                    <li>Computer Graphics - COMP 371 </li>
                    <li>Databases - COMP 353 </li>
                    <li>Advanced Program Design with C++ - COMP 345 </li>
                    <li>Combinatorics - COMP 339</li>
                    <li>Elementary Numerical Methods - COMP 361</li>
                    <li>Animation for Computer Games - COMP 477</li>
                    <li>Artificial Intelligence - COMP 472</li>
                </ul>  
            </div>
        
            <p></p>

            <div>
                <p class="subject-title">
                    <u>Game Design Minor</u>
                </p>
                <p>
                    Relevant courses I have taken:
                </p>
                <ul>
                    <li>Introduction to Game Design - CART 215</li>
                    <li>3D Digital Production - CART 361</li>
                    <li>Computation Arts I - CART 253</li>
                    <li>Introduction to Game Development - COMP 376</li>
                    <li>Game Studio I - CART 415</li>
                </ul>  
            </div>
        </div> <!-- end of edu color class -->
        </div> <!-- end of edu-grid class -->

        <div class="employ-grid">
            <h3> Employement </h3>

                    <div class="subject-title">
                        Gameplay Developer
                    </div>
                    <div class="subject-title">
                        Ubisoft Halifax
                    </div>
                    <div class="date2">
                        (from January 2021 to present)
                    </div>
                    <div>
                        Main programmer for integrating highly requested gameplay features for the mobile game Assassin’s Creed Rebellion and providing narrative tools for the design team in a new and upcoming project.
                    </div>
                    <ul>
                        <li>
                        Fixed reported bugs effectively, in a fast-paced environment, giving users a more polished product.
                        </li>
                        <li>
                        Used many design patterns to maintain and improve the sustainability and readability of the code.
                        </li>
                        <li>
                        Interacted with a dynamic team that all have different and important roles in the pipeline involved into making a game, using Agile development methodology and good communication skills.
                        </li>
                    </ul> 

                    <div class="subject-title">
                        Teaching Assistant
                    </div>
                    <div class="subject-title">
                        Concordia University
                    </div>
                    <div class="date2">
                        (from September until December 2020)
                    </div>
                    <div>
                        Taught students elementary numerical methods (COMP 361).
                    </div>
                    <ul>
                        <li>
                        Preparing exercise material for students to apply numerical methods algorithms.
                        </li>
                        <li>
                        Responsible for grading assignments and exams.
                        </li>
                    </ul> 

                    <div class="subject-title">
                        Software Engineering Internship
                    </div>
                    <div class="subject-title">
                        Matrox, Video Department
                    </div>
                    <div class="date2">
                        (from January 2020 until April 2020)
                    </div>
                    <div>
                        Developed and maintained Matrox’s cross-platform video software components using C++.
                    </div>
                    <ul>
                        <li>
                        Gained experience working with video software, notably their Topology Builder application which facilitates the process of video streaming or broadcasting on multiple monitors. 
                        </li>
                        <li>
                        Learned about H264 encoding and decoding and have added a feature to their codec that gives the ability to force IDR frames at any given moment in a video which restarts a new group of pictures (GOP).
                        </li>
                        <li>
                        Writing automation test scripts using Powershell to ensure good quality of their products. 
                        </li>
                    </ul> 
        </div>

<!--
        <div class="learning">
            <div class="edu">
                <div>
                    Currently learning how to use:
                </div> 
            </div>
        </div>
--> <!-- end of learning class -->

    </div> <!-- end of education class -->

    <div class="skills">
        <h3>Skills</h3>
        <div class="edu">
            <div>
                Programming languages:
            </div>
        </div>
        <div class="ski">
            <div class="icon">
                <img src="images/java_logo.png" alt="Java Logo" width="60" height="60">
            </div>
            <div class="lang">
                <h4>Java:</h4> 
                <p>Experienced with java as I've been using it for many of my core classes at Concordia University, as well as using it for Matrox's TopologyBuilder UI which is an application which facilitates the process of video streaming or broadcasting on multiple monitors. </p>
            </div>
        </div>

        <div class="ski">
            <div class="icon">
                <img src="images/cpp_logo.png" alt="C++ Logo" width="60" height="60">
            </div>
            <div class="lang">
                <h4>C++:</h4> 
                <p> 
                Used C++ to create a recreation of the boardgame "PowerGrid" in my "Advanced Program Design with C++" class and to make a successful Ray-Tracing program for my "Computer Graphics" class. Both projects of which I am very proud of. Also used C++ during my Matrox internship. For example, I added a feature to their codec that gives the ability to force IDR frames at any given moment in a video which restarts a new group of pictures (GOP).
                </p>
            </div>
        </div>
        <div class="ski">
                <div class="icon">
                    <img src="images/python_logo.png" alt="Python Logo" width="60" height="60">
                </div>
                <div class="lang">
                    <h4>Python:</h4> 
                    <p>
                    Used Python for Elementary Numerical Methods and have used it for 2 hackothon projects for ConUhacks IV and V. One of these projects being a lyric player for Octave Group's music player API and the other being a website to analyse different trends of music choices from TouchTunes jukeboxes across the country. Focused on movie releases, deaths and anniversaries of singers and bands. This second project we won!!!
                    </p>
                </div>
        </div>
        <div class="ski">
                <div class="icon">
                    <img src="images/Css_logo.png" alt="Csharp Logo" width="60" height="60">
                </div>
                <div class="lang">
                    <h4>C#:</h4> 
                    <p>
                    Used C# for making games, as this is the backend programming language used in the Unity Engine.
                    </p>
                </div>
        </div>

        <div class="ski">
            <div class="icon">
                <img src="images/javascript_logo.png" alt="JS Logo" width="60" height="60">
            </div>
            <div class="lang">
                <h4>Javascript:</h4> 
                <p>
                Used it for my web programming class and for the creation of the "Zorkemon" group project (which can be found on my github page), as well as the ConUHacks API challenge sponsored by TouchTunes.
                </p>
            </div>
        </div>

        <div class="ski">
            <div class="icon">
                <img src="images/prolog_logo.png" alt="Prolog Logo" width="60" height="60">
            </div>
            <div class="lang">
                <h4>Prolog:</h4> 
                <p>Used it the most for helping in the creation of the "Zorkemon" card parser</p>
            </div>
        </div>
        

        <div class="groupOf4">

        <div class="sql">
            <div class="icon2">
                <img src="images/sql_logo.png" alt="SQL Logo" width="60" height="60">
                <div>
                <h4>MySQL/SQL</h4> 
                </div>
            </div>
        </div>

        <div class="c">
            <div class="icon2">
                <img src="images/c_logo.png" alt="C Logo" width="60" height="60">
                <div>
                <h4>C</h4> 
                </div>
            </div>
        </div>

        <div class="ruby">
            <div class="icon2">
                <img src="images/ruby_logo.png" alt="Ruby Logo" width="60" height="60">
                <div>
                <h4>Ruby</h4> 
                </div>
            </div>
            
        </div>

        <div class="clisp">
            <div class="icon2">
                <img src="images/clisp_logo.png" alt="CLisp Logo" width="60" height="60">
                <div>
                <h4>CLisp</h4> 
                </div>
            </div>
        </div>
        </div> <!-- end of group class -->

    <div class="edu">
        <div>
            Game Design/Development:
        </div>
    </div>

    <div class="ski">
                <div class="icon">
                    <img src="images/Unity_logo.png" alt="Unity Logo" width="60" height="60">
                </div>
                <div class="lang">
                    <h4>Unity:</h4> 
                    <p>
                    Used Unity for many of the games I have made in the past couple of months. You can find such projects by clicking in the "Projects" option in the menu at the top of this page.
                    </p>
                </div>
    </div>

    <div class="ski">
                <div class="icon">
                    <img src="images/Unreal_logo.png" alt="Unreal Logo" width="60" height="60">
                </div>
                <div class="lang">
                    <h4>Unreal:</h4> 
                    <p>
                    Used Unreal blueprints for the making of the game "Hot Coco". You can find such projects by clicking in the "Projects" option in the menu at the top of this page.
                    </p>
                </div>
    </div>

    <div class="ski">
        <div class="icon">
            <img src="images/opengl_logo.png" alt="OpenGL Logo" width="60" height="60">
        </div>
        <div class="lang">
            <h4>OpenGL:</h4> 
            <p> Used OpenGl to get first hand experience of Computer Graphics. Learned how
                to use callback functions using the GLM library, how to implement vector and fragment shaders that can be modified in the graphics pipeline of the GPU, how to use VAOs, VBOs and EBOs, how to compute realistic lighting such as Phong and Gouraud lighting methods, and finally, I learned how to compute shadows and textures. 
            </p>
        </div>
    </div>

    <div class="ski">
        <div class="icon">
            <img src="images/processing_logo.png" alt="Processing Logo" width="60" height="60">
        </div>
        <div class="lang">
            <h4>Processing:</h4> 
            <p>Used this software for the making of my game "Chicken Rush"</p>
        </div>
    </div>

    <div class="ski">
        <div class="icon">
            <img src="images/blender_logo.png" alt="Blender Logo" width="60" height="60">
        </div>
        <div class="lang">
            <h4>Blender:</h4> 
            <p>3D modeling and animation software used for making my "Monster Bat" model, as well as the games "Treasure Diver 2", "Super Shopper: Closing Time Rush", "2020" and "Hot Coco".</p>
        </div>
    </div>

    <div class="edu">
        <div>
            Web Development:
        </div> 
    </div>

    <div class="ski">
        <div class="icon">
            <img src="images/html_css_js_logo.png" alt="HTML Logo" width="80" height="60">
        </div>
        <div class="lang">
            <h4>HTML, CSS, Javascript:</h4> 
            <p>Fair amount of experience with these basic web development tools. For instance, I used them to make this website!</p>
        </div>
    </div>

    <div class="ski">
        <div class="icon">
            <img src="images/vue_logo.png" alt="Vue Logo" width="60" height="60">
        </div>
        <div class="lang">
            <h4>Vue.js:</h4> 
            <p>Used vue.js to make the frontend and UI of the "Zorkemon" project</p>
        </div>
    </div>

    <div class="ski">
        <div class="icon">
            <img src="images/php_logo.png" alt="PHP Logo" width="60" height="60">
        </div>
        <div class="lang">
            <h4>PHP:</h4> 
            <p>Used this language for my database project</p>
        </div>
    </div>

    <div class="edu">
        <div>
            Tools:
        </div>
    </div>

    <div class="groupOf4">
        <div class="git">
            <div class="icon2">
                <img src="images/git_logo.png" alt="Git Logo" width="60" height="60">
                <div>
                <h4>Git</h4> 
                </div>
            </div>
        </div>
        <div class="powershell">
            <div class="icon2">
                <img src="images/powershell_logo.png" alt="Powershell Logo" width="60" height="60">
                <div>
                <h4>Powershell</h4> 
                </div>
            </div>
        </div>
        <div class="ubuntu">
            <div class="icon2">
                <img src="images/ubuntu_logo.png" alt="Ubuntu Logo" width="60" height="60">
                <div>
                <h4>Ubuntu</h4> 
                </div>
            </div>
        </div>
        <div class="bash">
            <div class="icon2">
                <img src="images/bash_logo.png" alt="Bash Logo" width="60" height="60">
                <div>
                <h4>Bash</h4> 
                </div>
            </div>
        </div>
    </div> <!-- end of groupOf4 class -->

    </div> <!-- end of skills class -->

</body>